html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.container {
    display: flex;
    position: relative;
    width: 1000px;
}

.item
{
    margin: 15px;
}

.prodDesc {
    position: absolute;
    bottom: 10px;
}

.cart {
    position: absolute;
    bottom: 0;
    right: 0;
}

.add-to-cart-button {
    background: #1c8644;
    padding: 5px 13px;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    border: none;
    opacity: 1;
    font-size: 0.8125rem;
    letter-spacing: 0px;
    text-transform: uppercase;
    font-weight: 500;
}

img
{
    height: 80px;
    width: 80px;
    padding: 5px;
}

.remove-from-cart-button {
    background: #FF0000;
    padding: 5px 13px;
    color: white;
    border-radius: 4px;
    border: none;
    opacity: 1;
    font-size: 0.8125rem;
    letter-spacing: 0px;
    text-transform: uppercase;
}

.outContainer {
    display: flex;
    position: relative;
              }

.cart-item {
    margin: 15px;
}

.cart-summary {
    height: 136px;
    width: 282px;
    margin-top: 25px;
    border-radius: 5px;
    border-style: groove;
}

p {
    color: #4d4d4f;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.38462rem;
  }

.check-out-button {
    width: 210px;
    margin-left: 36px;
    margin-top: 30px;
    border: none;
    opacity: 1;
    font-size: 0.8125rem;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}