@model IEnumerable<ProductViewModel>

@{
    ViewData["Title"] = "Product Catalog";
}

<h2>Products Catalog</h2>

@if (Model != null)
{
        @foreach (ProductViewModel product in Model)
        {
            <div>
                <div class="container" style="background-color: whitesmoke; border-radius: 5px; border-style: groove; padding: 20px; margin: 10px;">

                    <div class="item">
                        <div>
                            <img src="@Url.Content(product.Photo)" alt="Image"/>
                        </div>
                    </div>

                    <div class="item">

                        <div>
                            <div style="height: 3rem; line-height: 1rem;">
                                <h3> @Html.DisplayFor(modelItem => product.Name)</h3>
                            </div>

                            <div style="height: 3rem; line-height: 1rem;">
                                <h4>
                                    @Html.DisplayFor(modelItem => product.Price)
                                </h4>
                            </div>
                        </div>
                    </div>
                    
                    <div class="item cart" style="float: right;">
                        <div>

                            <button class="add-to-cart-button" type="button" onclick="location.href = '@Url.Action("Index", "Cart")'" >
                                Add to Cart
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        }
}
else
{
    <h3>No Product found</h3>
}